# general
.ipynb_checkpoints/
__pycache__/
venv/
kaggle.json
fastchirplet/
TODO
torchvggish/

# logs 
logs/*
runs/*

# weights
checkpoints/*

# data
resampled_audio/
train_audio/

# notebooks
notebooks/
